header,footer
{
	display: block;
}
header{
	font-family: Times News Roman;
	color: #FFF;
  	background-image: linear-gradient(to right bottom, #bc5a40, #c76449, #d26e52, #de785b, #e98264, #ef8b6c, #f49474, #fa9d7c, #fba785, #fdb18f, #febb9a, #ffc5a5);
  	background-size: 100%;
  	text-align: center;
  	background-size: 100%;
  	text-align: center;
}
h2{
	text-align:center;
}
body
{
	/*background-image: linear-gradient(to bottom, #ffe4b0, #ffe0ac, #ffdca9, #ffd8a5, #ffd4a2, #ffd0a0, #ffcd9e, #ffc99c, #ffc49b, #ffbf9a, #ffbb9a, #ffb69a);*/
	background-image: linear-gradient(to top, #5e588d, #5a5c90, #565f93, #516396, #4d6698, #49699a, #466d9c, #43709d, #40739e, #3e779f, #3c7a9f, #3b7d9f);
	min-height: 100%;
 	display: flex;
  	flex-direction: column;
  	font-weight: 300;
  	line-height: 1.5;
}

.row
{
	padding-top: 10px;
	padding-bottom: 40px;

}
.gstl_50.gsc-input
{
	margin-top: 0px;
	border-collapse: collapse;
}
table.gsc-search-box
{
	
	border-collapse: collapse;
}
.gcse-searchbox-only
{
	background-color: grey;
}
table,th,td,tr
{
	border:1px solid black;
	border-spacing: 20px;
	border-collapse: collapse;
	font-size: 15px;
	text-align: center;
}
table
{
	margin-top: 50px;
	width:350px;
	align-self: center;
}
footer
{
	margin-top: 400px;
	min-height: 100%;
	background-color: #000;
	color:#FFF;
	text-align: right;
}
gstl_50.gsc-input
{
	margin-top: 0px;
	border-collapse: collapse;
}

.gsib_b
{
	display: none;
}
#gsc-iw-id1
{
	border: none;
}

td.gsc-input
{
	padding-right: -10px;
}

.gsc-search-button
{
	padding: 0px;
}
button.gsc-search-button.gsc-search-button-v2
{
	margin-left: 0px;
}
button.gsc-search-button.gsc-search-button-v2>svg
{

	width:  21px;
	height: 21px;
}
