header,footer
{
	display: block;
}
header{
	font-family: Times News Roman;
	color: #FFF;
  	background-image: url('pic.jpg') ;
  	background-size: 100%;
  	text-align: center;
}
h2{
	text-align:center;
}
body
{
	min-height: 100%;
 	display: flex;
  	flex-direction: column;
  	font-weight: 300;
  	line-height: 1.5;
}

.row
{
	padding-top: 10px;
	padding-bottom: 40px;

}
.gstl_50.gsc-input
{
	margin-top: 0px;
	border-collapse: collapse;
}
table.gsc-search-box
{
	
	border-collapse: collapse;
}
.gcse-searchbox-only
{
	background-color: grey;
}
table,th,td,tr
{
	border:1px solid black;
	border-spacing: 20px;
	border-collapse: collapse;
	font-size: 15px;
	text-align: center;
}
table
{
	margin-top: 50px;
	width:350px;
	align-self: center;
}
footer
{
	margin-top: 400px;
	min-height: 100%;
	background-color: #000;
	color:#FFF;
	text-align: right;
}
gstl_50.gsc-input
{
	margin-top: 0px;
	border-collapse: collapse;
}

.gsib_b
{
	display: none;
}
#gsc-iw-id1
{
	border: none;
}

td.gsc-input
{
	padding-right: -10px;
}

.gsc-search-button
{
	padding: 0px;
}
button.gsc-search-button.gsc-search-button-v2
{
	margin-left: 0px;
}
button.gsc-search-button.gsc-search-button-v2>svg
{

	width:  21px;
	height: 21px;
}
